#######################################
## Unity Project .gitignore Template ##
#######################################

# --- پوشه‌های سیستمی یونیتی که نباید در گیت باشند ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# --- فایل‌های کامپایل شده توسط Bee و فایل‌های artifacts ---
**/[Bb]ee/
**/[Aa]rtifacts/

# --- پلاگین‌های Rider و Asset Store (در صورت نیاز) ---
[Aa]ssets/Plugins/Editor/JetBrains*
# [Aa]ssets/AssetStoreTools*  # فعال کن اگر Asset Store Tools استفاده می‌کنی

# --- محیط‌های توسعه ---
.vs/
.gradle/
ExportedObj/
.consulo/

# --- فایل‌های پروژه Visual Studio و سایر فایل‌های موقتی ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- فایل‌های متا اضافی ---
*.pidb.meta
*.pdb.meta
*.mdb.meta

# --- ریپورت‌های کرش یونیتی ---
sysinfo.txt

# --- خروجی‌های بیلد ---
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# --- Crashlytics ---
crashlytics-build.properties

# --- Addressables ---
Assets/Addr
